doctype html 
html 
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="css/landing.css")
    title StayClean
    .heading
      .logo
        h2 StayClean
      .links
        a(href="/landing") HOME
        a(href="/requests/requests") SERVICE REQUESTS
        a(href="/login") LOG IN
    .content
      .container
        .card
          h1 GIVING YOU A CLEAN ENVIRONMENT
          p StayClean is here to give you a squeaky clean environment through our garbage and sewage services. Let us do the cleaning for you.
        img.image(src="/public/images/wheelie-bin.webp", alt="trash cans")
    footer
      .footer
        p Author: Mbabazi Suzan
        p
          a(href="mbabazisuzanne@gmail.com") mbabazisuzanne@gmail.com
        p © Catalyst Cohort 7