doctype html
html 
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
        title = title 
    body 
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    block content 
    footer.row.justify-content-center 
        div.col-md-6
            block footer   