extends layout 
block content
      .container
        h2 LOG IN
        form(method="POST" action="/login")
          .form-group
            label User name
            input.form-control(type="username", placeholder="Enter user name" name="username")
          .form-group
            label Enter Password
            input.form-control(type="password", placeholder="Password" name="password")
          button.btn.btn-primary(type="submit") Log In