style. 
    nav.navbar{
        background-color:#35395b;
    }
nav.navbar.navbar-expand-lg.navbar-dark
            .container
                a.navbar-brand(href="Home.pug") StayClean
                    