style. 
    nav.navbar{
        background-color:#35395b;
        color: white;
    }
    img {
        width: 25px;
        height: 25px;
    }
nav.navbar.navbar-expand-lg.navbar-dark
            .container
                a.navbar-brand(href="Home.pug") StayClean
                .links
                    a(href="/landing")
                        img.icon(src="/public/images/icons/home.svg", alt="home")
                    | HOME
                    