extends layout 
block content
  body
    .container
      h2 REGISTER HERE
      form.justify-content-center(action="/register/", method="POST")
        div.form-row
          .form-group.col-lg-5
            label Name
            input.form-control#username(type="username", aria-describedby="usernameHelp", placeholder="Enter your name" name="username" )
          .form-group.col-lg-5
            label(for="email") Email Address
            input.form-control#email(type="email", aria-describedby="emailHelp", placeholder="Enter Your Email" name="email")
          .form-group.col-lg-5
            label(for="exampleInputPassword1") Create Password
            input.form-control#exampleInputPassword1(type="password", placeholder="Create Password" )
          .form-group.col-lg-5
            label(for="confirmPassword") Confirm Password
            input.form-control#confirmPassword(type="password", placeholder="Confirm Password")
          br
          button.btn.btn-primary(type="submit") Submit
        