extends layout 
block content
  body
    style.
              body{
                  background-image: url(/public/images/wheelie-bin.webp);
                  background-size: cover;
                  background-position:center;
                  font-family: "Poppins", sans-serif;
              }
              .card-body{
                  position: ;
                  background: #4f5478;
                  color: white;
                  display:block;
                  border-radius: 10px;
                  padding: 2em;
                  margin: 0 2em; 
              }
              .img{
                padding-right: 45px;
                margin-right: 20px;
                padding-top: 0px;
              }
    .container
      h2 ADMIN REGISTRATION
      form.justify-content-center(action="/register/" method="POST" role="form" name="register")
        div.form-row
        .col-md-6
          .form-group
            label Full Name
            input.form-control#username(type="username", aria-describedby="usernameHelp", placeholder="Enter your name" name="username" )
            label(for="email") Email Address
            input.form-control#email(type="email", aria-describedby="emailHelp", placeholder="Enter Your Email" name="email")
            label(for="exampleInputPassword1") Create Password
            input.form-control#exampleInputPassword1(type="password", placeholder="Create Password" name="password")
            label(for="confirmPassword") Confirm Password
            input.form-control#confirmPassword(type="password", placeholder="Confirm Password")
          br
          button.btn.btn-primary(type="submit" onclick="Validation()") Submit
        .row
          .col.lg-5
            .img-fluid(src="./public/images/recycle.webp", alt="dustbin")
        script(src="./public/js/register.js")    