extends layout
block content
    header.card-header
        h4.card-title Welcome
    div.form-row
        div.col.form-group.col-md-12   
    div.form-row
        div.col-md-10
            p Here is your information #{user.firstname}
    div.form-row
        img(src='/'+user.imageupload width="150px" height="170px")
    form(method="post" action="/addEmployees/employeeList/update?id="+user._id)
        table.table
            thead.thead-dark
                tr
                    th Full Name
                    td 
                        input.form-control(value = user.username name ="username")              
                tr
                    th Date of birth
                    td 
                        input.form-control(value = user.DoB name ="DoB")
                tr
                    th Gender
                    td 
                        label(for="validationCustom02") Gender
                        select#gender(name="gender")
                            option(value="female" selected=user.gender==="female") Female
                            option(value="male" selected=user.gender==="male") Male
                tr 
                    th NIN
                    td 
                        input.form-control(value = user.nin name ="nin")
                tr 
                    th Residence 
                    td 
                        input.form-control(value = user.residence name="residence")
                tr 
                    th Role
                    td 
                        input.form-control(value = user.role name="role")
                tr  
                    th License Number 
                    td 
                        input.form-control(value = user.nin name ="license")
                tr
                    th Past incidences
                    td 
                        label Accidents&nbsp 
                        input(value= "accidents" type="checkbox" checked =user.past incidence.includes('accidents') name="incidences")
                        label &nbspFuel thefts&nbsp
                        input(value= "fuel thefts" type="checkbox" checked =user.past incidence.includes('fuel thefts') name="incidences")
                        label &nbspFights&nbsp
                        input(value= "fights" type="checkbox" checked =user.past incidence.includes('fights') name="incidences")
                        label &nbspNone&nbsp
                        input(value= "none" type="checkbox" checked =user.past incidences.includes('None') name="incidences")
                tr
                    td(colspan=2)
                        button.btn.btn-dark.btn-block(type="submit") Update
                    td 
                        form(method="post" action="/addEmployees/employeeList/delete")
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Back
