body{
    background-image: url(/public/images/wheelie-bin.webp);
    background-size: cover;
    background-position:center;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url();
    background-size: cover;
    background-position: center;
    font-family:"Poppins", sans-serif;
    margin-top: 30px;
  }
  h1{
  padding: 5px 5px 0px 0px;
  text-align: center;
  width: 620px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgba(6, 49, 70, 0.6);
  border-radius: 15px 15px 0px 0px;
  margin: auto;
  color: rgb(243, 240, 237);
  font-size: 25px;
  font-weight: 30pxpx;
  }
  label{
    color: rgb(17, 17, 17);
  }
  .container{
    max-width: 50%;
    padding-top: 30px;
  }
  .btn{
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
  }